<div class="col-md-12 mb-4">
    <div class="row">
        <div class="col-md-3 pr-4">
            <div class="row pb-3 pt-3 pr-3 bg-white text-center rounded border-right">
                <div class="col-md-3 pt-2 pl-4 text-center">
                    <i class="fa-solid fa-user-graduate fa-3x" style="color: #0083fc;"></i>
                </div>
                <div class="col-md-9 pr-1 text-left">
                    <small>
                        <i class="fa-solid fa-angles-right"></i>
                        <b> Portal do Aluno</b>
                    </small>
                    <button type="button" class="btn btn-primary btn-sm mt-2" style="width:100%;">
                        <i class="fa-solid fa-eye"></i> Acesssar
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 pr-4">
            <div class="row pb-3 pt-3 pr-3 bg-white text-center rounded border-right">
                <div class="col-md-3 pt-2 pl-4 text-center">
                    <i class="fa-solid fa-book fa-3x" style="color: #0083fc;"></i>
                </div>
                <div class="col-md-9 pr-1 text-left">
                    <small>
                        <i class="fa-solid fa-angles-right"></i>
                        <b> Bibliotecas Virtuais</b>
                    </small>
                    <button type="button" class="btn btn-primary btn-sm mt-2" style="width:100%;">
                        <i class="fa-solid fa-eye"></i> Acesssar
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 pr-4">
            <div class="row pb-3 pt-3 pr-3 bg-white text-center rounded border-right">
                <div class="col-md-3 pt-2 pl-4 text-center">
                    <i class="fa-solid fa-file-invoice-dollar fa-3x" style="color: #0083fc;"></i>
                </div>
                <div class="col-md-9 pr-1 text-left">
                    <small>
                        <i class="fa-solid fa-angles-right"></i>
                        <b> Formas de Pagamento</b>
                    </small>
                    <button type="button" class="btn btn-primary btn-sm mt-2" style="width:100%;">
                        <i class="fa-solid fa-eye"></i> Acesssar
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 pr-4">
            <div class="row pb-3 pt-3 pr-3 bg-white text-center rounded border-right">
                <div class="col-md-3 pt-2 pl-4 text-center">
                    <i class="fa-solid fa-gear fa-3x" style="color: #0083fc;"></i>
                </div>
                <div class="col-md-9 pr-1 text-left">
                    <small>
                        <i class="fa-solid fa-angles-right"></i>
                        <b> Configurações</b>
                    </small> 
                    <button type="button" class="btn btn-primary btn-sm mt-2" style="width:100%;">
                        <i class="fa-solid fa-eye"></i> Acesssar
                    </button>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="col-md-12 p-4 mb-4 bg-white">
    <h3><i class="fa-solid fa-graduation-cap" style="color: #0083fc;"></i> Meus Cursos</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>





<div class="col-md-12 p-4 mt-4">
    <h3><i class="fa-solid fa-compass" style="color: #0083fc;"></i> Acesso Rápido</h3>
    <hr>
    <div class="row">

    </div>
</div>